@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'signUp';

$primary-color: #5F3E8E;

.button{
    background-color: $primary-color;
    border-color: $primary-color;
}

.signup{
    border-color: $primary-color;
}

.bg-signUp{

  
    background-image: url('../assets/images/SignUp.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.showImg{
      
        cursor: pointer;
        position:relative;
        width: 20px;
      
      
}



@media screen and (max-width:480px) {
      .bg-signUp{
        height: auto;
     background-size: cover;
      }
}