.form {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 2em;
    }
    input {
      display: block;
      width: 90%;
      border-bottom: 1px Solid #7b7b7b;
      margin-inline: auto;
    }
    button {
      background-color: #5f3e8e;
      border-color: #5f3e8e;
      padding: 0.5rem;
      color: white;
      width: 90%;
      margin-inline: auto;
    }
  }
}
