.form {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-size: 2em;
    }

  }
}
