$primary-color: #5f3e8e;
.input {
  border: 1px solid #bf9dda;
  &:active,
  &:focus {
    outline: none;
  }
}
.signup-input {
  max-width: auto;
  width: 100%;
  padding: 7px;
  border: 1px solid #bf9dda;
  border-radius: 5px;
  margin-top: 13px;
  
  justify-content: center;
  align-items: center;
}
.inputPassword {
  border: 1px solid #bf9dda;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  &:focus,
  &:active {
    border-bottom-right-radius: none;
    outline: none;
  }
}

.btn-signup {
  background-color: $primary-color;
  color: white;
}
.pass {
  border:  1px solid #bf9dda;
  border-left: 0;
}
.btn-signup:hover {
  transition-timing-function: ease-out;
  transition: width 10s linear 7s;
  background-color: #73559e;
}
.backBtn {
  background-color: $primary-color;
}

// Please use other selectors not tags, this ruins other designs!!!
// form {
//   overflow: scroll;
// }
.pass {
  border: solid black 1.5px;
  border-left: 0;
}
form {
  overflow: scroll;
}

.btn-signup:hover {
  transition-timing-function: ease-out;
  transition: width 10s linear 7s;
  background-color: #73559e;
}
.backBtn {
  background-color: $primary-color;
}

#signup-container-div {
    overflow: scroll;
}
